.header{
    height: 150px;
    background-color: #e4e4e4
}


.footer{
    height: 150px;
    background-color: #252525;
}


/**============== TITLE ================**/

.title h1, .title h2{
    padding-right: 150px;   
    
}

.title h1{
    font-family: 'Bungee Inline', cursive;
    font-size: 3em;
    padding-bottom: 0;
    margin-bottom: 0;   
}

.title h2{
    padding-top: 35px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.title h2{
    font-size: medium;
    color: #f19300;
    font-weight: bold;
}


@media screen and (min-width: 0px) and (max-width: 770px) {
    .title{ display: none; } 
  }


#logo-cdis{
    padding-top: 20px;
    padding-left: 10px;
    float: left;
}

#logo-angular{
   
}

.copyright-text{
    text-align: center;
    margin-top: 3em;
}


